.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.heading{
    margin-left:26%;
   font-style: italic;
   
  }
.slider .slider-img {
    position: relative;
    width: 600px;
    height: 600px;
}
.slider .slider-img img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.slider-img input {
    display: none;
}
.slider-dots {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
    position: absolute;
    bottom: 0;
    background: rgba(47, 47, 47, 0.7);
    padding: 10px;
    border-radius: 50px;
}
.slider-dots label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.15 ease;
}
.slider-dots label:hover {
    background-color: #fff;
}

.slider-img img {
    position: absolute;
    transition: all 0.4s ease-in;
    opacity: 0;
}

#img-1:checked ~ .m1,
#img-2:checked ~ .m2,
#img-3:checked ~ .m3,
#img-4:checked ~ .m4,
#img-5:checked ~ .m5, 
#img-6:checked ~ .m6, 
#img-7:checked ~ .m7 
{
    opacity: 1;
}
