body{
    background-color: #282A3A;
    color:#ffffff;
}
h1{
    position: relative;
    color: #ffffff;
    text-align:center;
}
.weight1{
    word-spacing:245px;
    margin-right: 20px;
}
.weight2 {
    word-spacing: 210px;
    margin-right: 20px;
}
.weight3 {
    word-spacing: 213px;
    margin-right: 20px;
 }
 .weight4{
    word-spacing:252px;
    margin-right: 20px;
}
.weight5{
    word-spacing: 245px;
    margin-right: 20px;
    
}
.weight6{
    word-spacing: 158px;
    margin-right: 20px;
    
}
.input {
    border: none;
        border-radius: 50px;
        background-color:rgb(249, 187, 89) ;
        width:100px;
        padding: 10px ;    
}
.input:hover{
      background-color: rgb(207, 155, 71);
        cursor:text;
}
.word , .word1{
    word-spacing: 0px;
} 
.c1{
    position: absolute;
    top: 64px;
    left: 10px;
}
select {
    border: none;
    border-radius: 50px;
    background-color:rgb(249, 187, 89) ;
    width:125px;
    padding: 10px ;    
}
.c2{
    position: absolute;
    left: 525px;
}
.input1{
    position: absolute;
    border: none;
        border-radius: 50px;
        background-color:rgb(249, 187, 89) ;
        width:100px;
        padding: 10px ;    
        right: 300px;

}
.input2{
    position: absolute;
    border: none;
        border-radius: 50px;
        background-color:rgb(249, 187, 89) ;
        width:100px;
        padding: 10px ;    

}
.input1:hover{
    background-color: rgb(207, 155, 71);
      cursor:text;
}
.input2:hover{
    background-color: rgb(207, 155, 71);
      cursor:text;
}
.c3{
    position: absolute;
    top: 750px;
    left: 10px;
}
.first{
    position: absolute;
    width: 383px;
    height: 78px;
     left: 1030px;
    /* top: 390px; */


    font-family: 'Halant';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 109.5%;
    

    text-align: center;

    color: #FFFFFF;
}
.second{
    position: absolute;
    width: 383px;
    height: 78px;
     left: 250px;
    /* top: 390px; */ 

    font-family: 'Halant';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 109.5%;

    color: #FFFFFF;
}
.Submit{
        color: #ffffff;
        width: 200px;
        border: 0px;
        position: relative;
        text-align: center;
        padding: 10px;
        top: -50px;
        left:600px;
        background-color: #735f32;
        text-decoration:none;
        border-radius: 50px;
}