
body {
   
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: #282A3A;
}
.heading{
    position: relative;
	margin-top: 20px;
   left:940px;
   width: 300px;
   margin: 0%;
   text-align: center;
   margin-bottom:0px ;
   top: -550px;
}

form {
    position: relative;
    top: -580px;
	margin: 0px ;
	width: 400px;
	padding: 0px;
    left: 700px;
}

label {
	display:contents;
	margin-top: 10px;
    color: #ffffff; 
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"],select {
	position: relative;
    width:-webkit-fill-available;
	padding: 10px;
	margin: top 5px;
    border:0px;
    left: 185px;
    background-color: #C69749;
    top:50px;
}
/* button{
    position: relative;
    text-align: center;
    width: 20%;
	padding: 10px;
	top: 60px;
    left:300px;
    background-color: #735f32;


    
} */
::placeholder{
    color: #000000;
    text-align: center;
    font-size:medium;
   
}
.Next{
    color: #ffffff;
    width: 200px;
    border: 0px;
    position: relative;
    text-align: center;
	padding: 10px;
	top: 60px;
    left:300px;
    background-color: #735f32;
    text-decoration:none;


}

img{
    position: relative;
    left: -25%;
    top:60px;
}